extends ../../layouts/default 
block main 
  .section-intro-tours 
    .box-content
      h3.inner-sub-title Search Tour 
      h2.inner-title Travel With Us  
  .section-tours 
    .container 
      .box-main
        div(class="box-navigation" filter-sort)
          .nav-item
            i(class="fa-regular fa-calendar")
            span(filter-by-date) Date 
          .nav-item
            i(class="fa-solid fa-arrow-up-wide-short")
            span(filter-by-price="price-desc") Price Low to High 
          .nav-item
            i(class="fa-solid fa-arrow-down-wide-short")
            span(filter-by-price="price-asc") Price High to Low 
          .nav-item
            i(class="fa-regular fa-pen-to-square")
            span(filter-by-title) Name(A- Z)
        .tour-main 
          .row  
            .col-md-8.col-12
              .list-tour
                .row 
                  each tour in tours 
                    .col-4 
                      .tour-item 
                        .box-head
                          a(href=`/tours/detail/${tour.slug}`)
                            .inner-img 
                              img(src=tour.images[0] alt=tour.title)
                          .inner-information 
                            .inner-date 
                              i(class="fa-regular fa-calendar")
                              span #{tour.timeStart}
                            .inner-quantity-people 
                              i(class="fa-solid fa-users")
                              span 120+ People
                        .box-content 
                          a(href=`/tours/detail/${tour.slug}`)
                            h4.inner-title #{tour.title}
                          p.inner-desc  #{tour.information}
                        .box-footer 
                          span.inner-price #{tour.price_special.toLocaleString()}đ
                          .inner-rating 
                            i(class="fa-solid fa-star")
                            span 5.0

            .col-md-4.col-12
              .form-search-tour
                h4.form-title Plan Your Trip 
                p.form-desc Ex optio sequi et quos praesentium in nostrum labore nam rerum iusto aut magni nesciunt? Quo quidem neque iste expedita est dolo.
                form(class="")
                  div(class="form-control")
                    i(class="fa-solid fa-magnifying-glass")
                    input(type="text" name="title" placeholder="Search Tour")
                  div(class="form-control")
                    i(class="fa-solid fa-location-dot")
                    select(class="selectpicker" data-live-search="true")
                      option(data-tokens='1') Thanh Hoá
                      option(data-tokens='2') Hà Nội
                      option(data-tokens='2') Ninh Binh
                  div(class="form-control")
                    i(class="fa-solid fa-calendar-days")
                    input(type="text" id="datepicker" placeholder="Ngày đi")
                  div(class="form-filter-slider")
                    p.filter-price Filter By Price 
                    div(id="price-slider")
                    div(class="price-value")
                      span(class="price-title") Price: 
                      span(id="min-price-value") 0
                      span(id="max-price-value") 1000
                  button(type="submit" class="button button-book") Search

              .tour-img 
                img(src="/client/images/tour-4.jpg")




